* {
  all: unset;
  background: transparent;
  font-family: Iosevka;
}

window {
  background: transparent;
}

.container {
  background-color: #130E13;
  border-width: 2px;
  border-style: solid;
  border-color: #AE7B8B;
  color: #B4A0C4 ;
  border-radius: 12px;
}
.userinfo-parent {
  background-color: #130E13;
  color: #B4A0C4 ;
  border-radius: 12px;

  border-width: 2px;
  border-style: solid;
  border-color: #AE7B8B;
}
.userinfo-child {
  color: #B4A0C4 ;
}
.label {
  font-size: 24px;
  font-weight: bold;
}

.button-label {
  font-size: 24px;
  font-weight: bold;
}

.completelytrans {
  background: none;
}

.button {
  border-radius: 6px;
  margin: 10px;
}
.button:hover {
  background-color: #7a7099;
  color: #141216;
  transition-duration: 150ms;
}
.button:active {
  background-color: #7a7099;
  color: #141216;
  transition-duration: 150ms;
}

.poweroff-button {
  border-radius: 6px;
  margin: 10px;
}
.poweroff-button:hover {
  background-color: #fc4649;
  color: #141216;
  transition-duration: 150ms;
}
.poweroff-button:active {
  background-color: #862526;
  color: #141216;
  transition-duration: 150ms;
}

.suspend-button {
  border-radius: 6px;
  margin: 10px;
}
.suspend-button:hover {
  background-color: #7b91fc;
  color: #141216;
  transition-duration: 150ms;
}
.suspend-button:active {
  background-color: #515ea1;
  color: #141216;
  transition-duration: 150ms;
}

.icon-label {
  font-size: 45px;
  font-weight: normal;
}
