@theme "~/.config/rofi/theme.rasi"

* {
    font: "Monocraft 13";

    g-spacing: 10px;
    g-margin: 0;
    g-padding: 8px;

    b-radius: 16px;
}

configuration {
    modi: "drun";
    show-icons: true;
    display-drun: ">⩊<";
}

window {
    transparency: "real";
    width: 450px;

    background-color: @main-bg;

    border: 2px solid;
    border-color: @main-br;

    border-radius: @b-radius;

    padding: 12px;
}

mainbox {
    spacing: @g-spacing;
    padding: @g-padding;

    children: ["inputbar", "listview", "message"];

    background-color: transparent;
}

inputbar {
    children: ["prompt", "entry"];
    spacing: @g-spacing;

    background-color: transparent;
}

prompt {
    text-color: @main-fg;
    background-color: transparent;
}

entry {
    placeholder: "Search Apps";
    text-color: @main-fg;
    placeholder-color: @main-fg;

    background-color: transparent;
}

listview {
    columns: 1;
    lines: 7;

    fixed-height: true;
    cycle: false;
    scrollbar: false;

    background-color: transparent;
}

element {
    spacing: @g-spacing;
    padding: 8px;

    border: 0px;
    border-radius: @b-radius;

    background-color: transparent;
    text-color: @main-fg;
}

/* REMOVE ALL INNER BOX EFFECTS */

element-text {
    background-color: transparent;
    text-color: inherit;
}

element-icon {
    background-color: transparent;
    size: 1.2em;
}

element selected.normal,
element selected.active {
    background-color: @select-bg;
    text-color: @select-fg;
}

message {
    background-color: transparent;
    border: 0px;
}
